body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bg_image.jpg);
  background-position: center center;
  background-size: 100% 100%;
}

header {
  background-color: rgba(136, 136, 136, 0.050);
  height: 80px;
  text-align: center;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  color: aliceblue;
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
}

footer {
  background-color: rgba(136, 136, 136, 0.050);
  height: 80px;
  clear: both;
}

main {
  background-color: rgba(0, 0, 255, 0.050);
  float: right;
  width: 65%;
  height: 800px;
}

aside {
  float: left;
  width: 35%;
  background-color: rgba(65, 65, 173, 0.050);

}